<p id="notice"><%= notice %></p>

<p>
  <strong>Tal01:</strong>
  <%= @talent_glyph_selection.tal01 %>
</p>

<p>
  <strong>Tal02:</strong>
  <%= @talent_glyph_selection.tal02 %>
</p>

<p>
  <strong>Tal03:</strong>
  <%= @talent_glyph_selection.tal03 %>
</p>

<p>
  <strong>Tal04:</strong>
  <%= @talent_glyph_selection.tal04 %>
</p>

<p>
  <strong>Tal05:</strong>
  <%= @talent_glyph_selection.tal05 %>
</p>

<p>
  <strong>Tal06:</strong>
  <%= @talent_glyph_selection.tal06 %>
</p>

<p>
  <strong>Tal07:</strong>
  <%= @talent_glyph_selection.tal07 %>
</p>

<p>
  <strong>Tal08:</strong>
  <%= @talent_glyph_selection.tal08 %>
</p>

<p>
  <strong>Gly01:</strong>
  <%= @talent_glyph_selection.gly01 %>
</p>

<p>
  <strong>Gly02:</strong>
  <%= @talent_glyph_selection.gly02 %>
</p>

<p>
  <strong>Gly03:</strong>
  <%= @talent_glyph_selection.gly03 %>
</p>

<p>
  <strong>Gly04:</strong>
  <%= @talent_glyph_selection.gly04 %>
</p>

<p>
  <strong>Gly05:</strong>
  <%= @talent_glyph_selection.gly05 %>
</p>

<p>
  <strong>Gly06:</strong>
  <%= @talent_glyph_selection.gly06 %>
</p>

<p>
  <strong>Gly07:</strong>
  <%= @talent_glyph_selection.gly07 %>
</p>

<p>
  <strong>Gly08:</strong>
  <%= @talent_glyph_selection.gly08 %>
</p>

<p>
  <strong>Gly09:</strong>
  <%= @talent_glyph_selection.gly09 %>
</p>

<p>
  <strong>Gly10:</strong>
  <%= @talent_glyph_selection.gly10 %>
</p>

<%= link_to 'Edit', edit_talent_glyph_selection_path(@talent_glyph_selection) %> |
<%= link_to 'Back', talent_glyph_selections_path %>
