<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @match_talent_glyph_selection.Player %>
</p>

<p>
  <strong>Match:</strong>
  <%= @match_talent_glyph_selection.Match %>
</p>

<p>
  <strong>Talentglyphselection:</strong>
  <%= @match_talent_glyph_selection.TalentGlyphSelection %>
</p>

<%= link_to 'Edit', edit_match_talent_glyph_selection_path(@match_talent_glyph_selection) %> |
<%= link_to 'Back', match_talent_glyph_selections_path %>
