<%= form_for(@raw_battle) do |f| %>
  <% if @raw_battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_battle.errors.count, "error") %> prohibited this raw_battle from being saved:</h2>

      <ul>
      <% @raw_battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :raw_battle_data %><br>
    <%= f.text_field :raw_battle_data %>
  </div>
  <div class="field">
    <%= f.label :parse_status %><br>
    <%= f.text_field :parse_status %>
  </div>
  <div class="field">
    <%= f.label :status_message %><br>
    <%= f.text_field :status_message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
