<h1>Listing players</h1>

<%# app/views/players/index.html.erb %>
<%= form_for_filterrific @filterrific do |f| %>
<div>
  <h3>Select Class:</h3>
  <div class="row">
    <% @filterrific.select_options[:with_class_name].each do |c| %>
      <div class="col-md-4">
        <%= check_box_tag("filterrific[with_class_name][]",c) %>
        <%=h c %>
      </div>
    <% end %>
  </div>
</div>
<% end %>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Server name</th>
      <th>Class name</th>
      <th>Spec name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.server_name %></td>
        <td><%= player.class_name %></td>
        <td><%= player.spec_name %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
