<h1>Opponent Statistics: <b><%= @player.name %></b></h1>

Total matches processed for <%= @player.name %>: <%= @total_matches %><p>
Total spec stat updates: <%= @total_single_spec_stats %><p>
Overall wins: <%= @total_wins %><p>
Overall losses: <%= @total_losses %><p>

<% 
	show_talents = params[:show_talents]
	show_glyphs = params[:show_glyphs]
	show_notes = params[:show_notes]
%>
<p>

<% if false %>
<select name="player_id">
      <%= @players.each do |player| %>
        <option value="<%= player.id %>"><%= player.name %></option>
      <% end %>
</select>
<% end %>

<h2>vs. Single Spec</h2>
Tally of wins/losses for all matches containing at least one of a particular spec.  A match against a same-spec pair will only be tallied once.

<table class="general" id="report">
  <thead>
    <tr>
      <th>Spec</th>
      <th>Wins</th>
	  <th>Win %</th>
	  <th>Losses</th>      
	  <th>Loss %</th>	  
	  <th>Total fights</th>
	  <th>Won fights</th>
	  <th>Lost fights</th>
	 <!-- <th>Match IDs</th> -->
    </tr>
  </thead>
  <tbody>
    <% @records_by_spec.each do |spec_rec| %>
      <tr class="spec">
		<td class="toggle">▶
            <b><%= spec_rec[1][:spec] %></b></td>		
		<td align="right"><%= spec_rec[1][:wins] %></td>		
		<td align="right"><%= spec_rec[1][:winpct] %>%</td>
		<td align="right"><%= spec_rec[1][:losses] %></td>					
		<td align="right"><%= spec_rec[1][:losspct] %>%</td>
		<td align="right"><%= spec_rec[1][:total] %></td>
		<td align="left"><%

        won = spec_rec[1][:won_matches].flatten
        query = '?' + won.map { |id| "filterrific[with_id][]=#{id}" }.join('&')
        %>
        <%= link_to "Won #{won.length} matches", "/matches#{query}" %>
        </td>
		<td align="left"><%= spec_rec[1][:lost_matches].join(',') %></td> 
      </tr>
	  
	  <% # Now show the talents and talent percentages, under the spec %>	  
       <tr class="talent"><td>&nbsp;</td><th colspan="7">Talent Detail</th></tr>
	   <tr class="talent">
		<td></td>
		<td colspan ="7">
		  <table width=80% class="sub">
			  <thead>
				<tr>
				  <th>Talent</th>				  
				  <th>Win %</th>
				  <th>Loss %</th>	  				  				 
				</tr>
			  </thead>
			  <tbody>
				<% spec_rec[1][:talent_tally].each do |talent_hash| %>
				  <tr>				   
					<td><%= talent_hash[1][:talent] %></td>		
					<% if talent_hash[1][:wins] > 0 %>
						<td align="right"><%= ((talent_hash[1][:wins])/spec_rec[1][:wins] * 100) %>%</td>		
					<% else %>
					   <td align="right">-</td>		
					<% end %>
					<% if talent_hash[1][:losses] > 0 %>
						<td align="right"><%= ((talent_hash[1][:losses])/spec_rec[1][:losses] * 100) %>%</td>				
					<% else %>
					   <td align="right">-</td>		
					<% end %>
				  </tr>
				<% end %>
			  </tbody>
			</table>
			</td>
	    </tr>
    <% end # END FOR EACH SPEC %>
  </tbody>
</table>

<h2>vs. Teams</h2>
<table class="general">
  <thead>
    <tr>
      <th>Team</th>
      <th>Wins</th>
	  <th>Win %</th>
	  <th>Losses</th>      
	  <th>Loss %</th>
	  <th>Total fights</th>
	  <th>Won</th>
	  <th>Lost</th>
    </tr>
  </thead>
  <tbody>
    <% @records_by_team.each do |spec_rec| %>
      <tr class="spec">
		<td><span class="toggle">▶</span>
		    <b><%= spec_rec[1][:team] %></b></td>		
		<td align="right"><%= spec_rec[1][:wins] %></td>		
		<td align="right"><%= spec_rec[1][:winpct] %>%</td>
		<td align="right"><%= spec_rec[1][:losses] %></td>					
		<td align="right"><%= spec_rec[1][:losspct] %>%</td>
		<td align="right"><%= spec_rec[1][:total] %></td>
		<td align="left"><%= spec_rec[1][:won_matches].join(',') %></td> 
		<td align="left"><%= spec_rec[1][:lost_matches].join(',') %></td> 
      </tr>

	  <% # Now show the talents and talent percentages, under the spec %>	  	  
      <tr class="talent"><td>&nbsp;</td><td colspan="7">Talent Detail</td></tr>
	  <tr class="talent">
		<td></td>
		<td colspan ="7">
		  <table class="sub" width="80%">
			  <thead>
				<tr>
				  <th>Talent</th>				  
				  <th>Win %</th>
				  <th>Loss %</th>	  				  				 
				</tr>
			  </thead>
			  <tbody>
				<% spec_rec[1][:talent_tally].each do |talent_hash| %>
				  <tr>				   
					<td><%= talent_hash[1][:talent] %></td>		
					<% if talent_hash[1][:wins] > 0 %>
						<td align="right"><%= ((talent_hash[1][:wins])/spec_rec[1][:wins] * 100) %>%</td>		
					<% else %>
					   <td align="right">-</td>		
					<% end %>
					<% if talent_hash[1][:losses] > 0 %>
						<td align="right"><%= ((talent_hash[1][:losses])/spec_rec[1][:losses] * 100) %>%</td>				
					<% else %>
					   <td align="right">-</td>		
					<% end %>
				  </tr>
				<% end %>
			  </tbody>
			</table>
			</td>
	    </tr>
	   </tbody>
    <% end %>
  </tbody>
</table>

<br>
