<h1>Opponent Statistics: <b><%= @player.name %></b></h1>

Total matches processed for <%= @player.name %>: <%= @total_matches %><p>
Total spec stat updates: <%= @total_single_spec_stats %><p>
Overall wins: <%= @total_wins %><p>
Overall losses: <%= @total_losses %><p>

<p>

<% if false %>
<select name="player_id">
      <%= @players.each do |player| %>
        <option value="<%= player.id %>"><%= player.name %></option>
      <% end %>
</select>
<% end %>

<h2>vs. Single Spec</h2>
Tally of wins/losses for all matches containing at least one of a particular spec.  A match against a same-spec pair will only be tallied once.

<table>
  <thead>
    <tr>
      <th>Spec</th>
      <th>Wins</th>
	  <th>Win %</th>
	  <th>Losses</th>      
	  <th>Loss %</th>	  
	  <th>Total fights</th>
	 <!-- <th>Match IDs</th> -->
    </tr>
  </thead>
  <tbody>
    <% @records_by_spec.each do |spec_rec| %>
      <tr>
		<td><%= spec_rec[1][:spec] %></td>		
		<td align="right"><%= spec_rec[1][:wins] %></td>		
		<td align="right"><%= spec_rec[1][:winpct] %>%</td>
		<td align="right"><%= spec_rec[1][:losses] %></td>					
		<td align="right"><%= spec_rec[1][:losspct] %>%</td>
		<td align="right"><%= spec_rec[1][:total] %></td>
		<!-- <td align="left"><%= spec_rec[1][:matches].map(&:inspect).join(', ') %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<h2>vs. Teams</h2>
<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Wins</th>
	  <th>Win %</th>
	  <th>Losses</th>      
	  <th>Loss %</th>
	  <th>Total fights</th>
    </tr>
  </thead>
  <tbody>
    <% @records_by_team.each do |spec_rec| %>
      <tr>
		<td><%= spec_rec[1][:team] %></td>		
		<td align="right"><%= spec_rec[1][:wins] %></td>		
		<td align="right"><%= spec_rec[1][:winpct] %>%</td>
		<td align="right"><%= spec_rec[1][:losses] %></td>					
		<td align="right"><%= spec_rec[1][:losspct] %>%</td>
		<td align="right"><%= spec_rec[1][:total] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>